{% load static %}
<section class="menu menu2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Grid View<small>These fine folks trusted the award winning restaurant.</small></h1>
                </div>
            </div>
        </div>
        <div class="food-menu wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-tags4">
                        <span data-filter="*" class="tagsort4-active">All</span>
                        {% for group in groups %}
                            <span data-filter=".{{ group.name }}">{{ group.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row menu-items4">
                {% for meal in menu %}
                    <div class="menu-item4 col-sm-4 col-xs-12 {{ meal.group.name }}">
                        <div class="menu-info">
                            <img src="{{ meal.image.url }}" class="img-responsive" alt="" />
                            <a href="{% url 'menu' %}">
                                <div class="menu4-overlay">
                                    <h4>{{ meal.title }}</h4>
                                    <p>{{ meal.description }}</p>
                                    <span class="price">$ {{ meal.price }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>