{% load static %}
<div class="trusted">
    <!-- Quotes section-->
    <div class="trusted-quote">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 wow fadeIn">
                    <div class="trusted-slider">
                        <ul class="slides">
                            <li>
                                <img src="{% static 'img/quote.png' %}" alt="quote">
                                <p class="quote-body">The world’s a big, big stage for this notorious deli smack in the middle of the theatre district, infamously famous for its over-the-top corned beef and pastrami sandwiches, chopped liver, blintzes, celebrities, salami, smoked fish and New York’s finest cheesecake.</p>
                                <p class="quote-author">Anthony Reed, <span>New York</span></p>
                            </li>
                            <li>
                                <img src="{% static 'img/quote.png' %}" alt="quote">
                                <p class="quote-body">You might not find dragon meat on the menu, but you’ll find pretty much anything else that walks, swims or flies, cooked up in more ways than there are people in the Guangdong province. This Midtown mainstay has a 20-year history of delivering mouth-watering and Cantonese style chow.</p>
                                <p class="quote-author">Gemma Arterton, <span>Bay Area</span></p>
                            </li>
                            <li>
                                <img src="{% static 'img/quote.png' %}" alt="quote">
                                <p class="quote-body">This NYC historical landmark in the heart of the Theatre District has been serving up suds and down home pub food since 1892, surviving prohibition by renting the front of its then Rockefeller Center façade to Greek florists, while the Hurley brothers ran a speak-easy in back.</p>
                                <p class="quote-author">Zachary Burton, <span>Sanfransisco</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>