{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'base/includes/header.html' %}
<!-- Blog Content -->
<div class="blog-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% for blog in blogs %}
                            <article class="wow fadeInUp">
                                <div class="post-img">
                                    <img src="{{ blog.image.url }}" class="img-responsive" alt="" />
                                    <div class="post-format"><i class="fa fa-file-image-o"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <h4><a href="{% url 'blog_info' blog_id=blog.id %}">Blog Heading Here</a></h4>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="post-date">{{ blog.date|date:"SHORT_DATE_FORMAT" }}</div>
                                    </div>
                                </div>
                                <hr>
                                <p>{{ blog.short_description }}</p>
                                <a href="{% url 'blog_info' blog_id=blog.id %}" class="btn btn-default">Read More</a>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block js %}
<!-- Javascript -->
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}
