{% extends 'base.html' %}
{% load static %}


{% block body %}
{% include 'base/includes/header.html' %}
<!-- Blog Content -->
<div class="blog-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <article class="wow fadeInUp">
                                <div class="post-img">
                                    <div class="blog-slider">
                                        <div>
                                            <img src="img/blog/1.jpg" class="img-responsive" alt="" />
                                        </div>
                                        <div>
                                            <img src="img/blog/2.jpg" class="img-responsive" alt="" />
                                        </div>
                                        <div>
                                            <img src="img/blog/3.jpg" class="img-responsive" alt="" />
                                        </div>
                                    </div>
                                    <div class="post-format"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <h4><a href="./blog_single_image.html">Blog Heading Here</a></h4>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="post-date">Oct-05-2015, 20 Comments</div>
                                    </div>
                                </div>
                                <hr>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                                <a href="./blog_single_image.html" class="btn btn-default">Read More</a>
                            </article>

                            <article class="wow fadeInUp">
                                <div class="post-img">
                                    <img src="img/blog/1.jpg" class="img-responsive" alt="" />
                                    <div class="post-format"><i class="fa fa-file-image-o"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <h4><a href="./blog_single_image.html">Blog Heading Here</a></h4>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="post-date">Oct-05-2015, 20 Comments</div>
                                    </div>
                                </div>
                                <hr>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                                <a href="./blog_single_image.html" class="btn btn-default">Read More</a>
                            </article>

                            <article class="wow fadeInUp">
                                <div class="post-img">
                                    <div class="video">
                                        <iframe height="300" src="http://player.vimeo.com/video/84161223?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500"></iframe>
                                    </div>
                                    <div class="post-format"><i class="fa fa-youtube-play"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <h4><a href="./blog_single_image.html">Blog Heading Here</a></h4>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="post-date">Oct-05-2015, 20 Comments</div>
                                    </div>
                                </div>
                                <hr>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                                <a href="./blog_single_image.html" class="btn btn-default">Read More</a>
                            </article>

                            <article class="wow fadeInUp last">
                                <div class="post-img">
                                    <img src="img/blog/3.jpg" class="img-responsive" alt="" />
                                    <div class="post-format"><i class="fa fa-link"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <h4><a href="./blog_single_image.html">Blog Heading Here</a></h4>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="post-date">Oct-05-2015, 20 Comments</div>
                                    </div>
                                </div>
                                <hr>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                                <a href="./blog_single_image.html" class="btn btn-default">Read More</a>
                            </article>

                            <div class="clearfix"></div>
                            <ul class="pagi_nation">
                                <li class="active"><a href="./blog_fullwidth.html">1</a></li>
                                <li><a href="./blog_fullwidth.html">2</a></li>
                                <li><a href="./blog_fullwidth.html">3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block js %}
<!-- Javascript -->
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}
