{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'base/includes/header.html' %}
<!-- Blog Content -->
<div class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article>
                    <div class="post-img">
                        <div class="blog-slider">
                            <div>
                                <img src="{{ blog.image.url }}" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="post-format"><i class="fa fa-picture-o"></i></div>
                    </div>
                    <h4>{{ blog.title }}</h4>
                    <hr>
                    <p>{{ blog.short_description }}</p>
                    <p>{{ blog.description }}</p>
                    <hr>
                    <div class="comments-area">
                        <ul class="commentlist">
                            {% for comment in comments %}
                            <li>
                                <div class="comment">
                                    <span class="comment-image">
                                        <img alt="avatar image" src="img/xtra/1.jpg" class="avatar" height="70" width="70">
                                    </span>
                                    <span class="comment-info d-text-c">
                                        <span>{{ comment.date|date:"SHORT_DATE_FORMAT" }}</span>{{ comment.user.username }}</span>
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div id="respond" class="comment-respond">
                            <h3>Leave a Comment</h3>
                            <form method="post" action="{% url 'blog_comment' blog_id=blog.id %}" id="commentform" class="comment-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <textarea placeholder="Comment" name="comment"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-block">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}
