{% extends 'base/base.html' %}
{% load static %}

{% block title %}Tomato Responsive Restaurant HTML5 Template{% endblock %}

{% block body %}
{% include 'base/includes/header.html' %}
<!-- About -->
<section class="about2">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-md-5">
                <img src="{% static 'img/about.png' %}" class="img-responsive" alt="" />
            </div>
            <div class="col-md-7 text-left">
                <h2 class="text-left">Our Story</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage</p>
                <a class="btn btn-default" role="button" href="{% url 'menu' %}">See Our Menu</a>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1 class="white">Special Service<small>What Special services we are offering now</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="services-slider wow fadeIn">
                    <div class="service-content text-center">
                        <img src="{% static 'img/ico1.png' %}" class="center-block" alt="" />
                        <h4 class="text-uppercase">Birthday Party</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="service-content text-center">
                        <img src="{% static 'img/ico2.png' %}" class="center-block" alt="" />
                        <h4 class="text-uppercase">Wedding Party</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                    <div class="service-content text-center">
                        <img src="{% static 'img/ico1.png' %}" class="center-block" alt="" />
                        <h4 class="text-uppercase">Birthday Party</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                    <div class="service-content text-center">
                        <img src="{% static 'img/ico2.png' %}" class="center-block" alt="" />
                        <h4 class="text-uppercase">Wedding Party</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text when an unknown printer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Our Team<small>The Hardworking Team behind the restaurant</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-staff wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static 'img/team/1.png' %}" class="img-responsive center-block" alt="" />
                    <h4>Enter Name Here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-staff wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{% static 'img/team/2.png' %}" class="img-responsive center-block" alt="" />
                    <h4>Enter Name Here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-staff wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{% static 'img/team/3.png' %}" class="img-responsive center-block" alt="" />
                    <h4>Enter Name Here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-staff wow fadeInUp" data-wow-delay="0.8s">
                    <img src="{% static 'img/team/4.png' %}" class="img-responsive center-block" alt="" />
                    <h4>Enter Name Here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'base/includes/quotes.html' %}

{% include 'base/includes/menu.html' %}
{% endblock %}


{% block js %}
<!-- Javascript -->
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}