{% extends 'base.html' %}
{% load static %}


{% block title %}Tomato Responsive Restaurant HTML5 Template{% endblock %}
{% block body %}
<!-- Home page-->
<section class="home">
    <div class="tittle-block">
        <div class="logo">
            <a href="./index.html">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
        </div>
        <h1>DELICIOUS Food</h1>
        <h2>Tomato is a delitious restaurant website template</h2>
    </div>
    <div class="scroll-down">
        <a href="#about">
            <img src="{% static 'img/arrow-down.png' %}" alt="down-arrow">
        </a>
    </div>
</section>
<!-- About page-->
<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>the restaurant<small>A little about us and a breif history of how we started.</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 hidden-sm about-photo">
                            <div class="image-thumb">
                                <img src="{% static 'img/thumb1.png' %}" data-mfp-src="img/fullImages/pic1.jpg" class="img-responsive" alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 about-photo hidden-xs">
                            <img src="{% static 'img/thumb2.png' %}" data-mfp-src="img/fullImages/pic2.jpg" class="img-responsive" alt="logo">
                        </div>
                        <div class="col-sm-6 about-photo hidden-xs">
                            <img src="{% static 'img/thumb3.png' %}" data-mfp-src="img/fullImages/pic3.jpg" class="img-responsive" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    Cras ut viverra eros. Phasellus sollicitudin sapien id luctus tempor. Sed hendrerit interdum sagittis. Donec nunc lacus, dapibus nec interdum eget, ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam dapibus sagittis. In massa est, dignissim in libero ac, fringilla ornare mi. Etiam interdum ligula purus, placerat aliquam odio faucibus a. Pellentesque et pulvinar lectus. Fusce scelerisque nisi id nisl gravida ultricies.
                </p>
                <br>
                <p>
                    Ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam dapibus sagittis. In massa est, dignissim in libero ac, fringilla ornare mi.
                </p>
                <img src="{% static 'img/signature.png' %}" alt="signature">
            </div>
        </div>
    </div>
</section>
<!-- Today's special page-->
<section class="special">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1 class="white">today's specials<small>A little about us and a breif history of how we started.</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-offset-1 col-md-10">
                <div class="flexslider special-slider">
                    <ul class="slides">
                        <li>
                            <div class="slider-img">
                                <img src="{% static 'img/thumb4.png' %}" alt="" />
                            </div>
                            <div class="slider-content">
                                <div class="page-header">
                                    <h1>Pancake with Caramel<small>If you are a fan of caramel cake, then you'll love our Pancake with caramel icecream. It's not thick, but very tasty.</small></h1>
                                </div>
                                <p>Ultrices In massa est, dignissim in libero ac, fringilla ornare mi.Ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam dapibus sagittis. accumsan, habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <a class="btn btn-default" href="./index.html" role="button">Order now</a>
                                <a class="btn btn-secondary" href="./index.html" role="button">Add to cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-img">
                                <img src="{% static 'img/thumb4.png' %}" alt="" />
                            </div>
                            <div class="slider-content">
                                <div class="page-header">
                                    <h1>Pancake with Caramel<small>If you are a fan of caramel cake, then you'll love our Pancake with caramel icecream. It's not thick, but very tasty.</small></h1>
                                </div>
                                <p>Ultrices In massa est, dignissim in libero ac, fringilla ornare mi.Ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam dapibus sagittis. accumsan, habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <a class="btn btn-default" href="./index.html" role="button">Order now</a>
                                <a class="btn btn-secondary" href="./index.html" role="button">Add to cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-img">
                                <img src="{% static 'img/thumb4.png' %}" alt="" />
                            </div>
                            <div class="slider-content">
                                <div class="page-header">
                                    <h1>Pancake with Caramel<small>If you are a fan of caramel cake, then you'll love our Pancake with caramel icecream. It's not thick, but very tasty.</small></h1>
                                </div>
                                <p>Ultrices In massa est, dignissim in libero ac, fringilla ornare mi.Ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam dapibus sagittis. accumsan, habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <a class="btn btn-default" href="./index.html" role="button">Order now</a>
                                <a class="btn btn-secondary" href="./index.html" role="button">Add to cart</a>
                            </div>
                        </li>
                    </ul>
                    <div class="direction-nav hidden-sm">
                        <div class="next">
                            <a><img src="{% static 'img/right-arrow.png' %}" alt="" /></a>
                        </div>
                        <div class="prev">
                            <a><img src="{% static 'img/left-arrow.png' %}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reservations page-->
{% include 'base/includes/reservation.html' %}
<!-- Our features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1 class="white">Our features<small>Little things make us best in town</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="{% static 'img/thumb5.png' %}" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu, maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio, vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="{% static 'img/thumb6.png' %}" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu, maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio, vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="{% static 'img/thumb7.png' %}" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu, maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio, vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 visible-sm">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="{% static 'img/thumb5.png' %}" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu, maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio, vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- menu-->
{% include 'base/includes/menu.html' %}
<!-- Trusted BY-->
<section class="trusted">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Trusted By<small>These fine folks trusted tha award winning restaurant</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-12">
                <div class="trusted-sponsors">
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/foodsquare.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/opentable.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/tripadvisor.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/zomato.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/foodsquare.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/opentable.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/tripadvisor.png' %}" alt="sponsors">
                        </a>
                    </div>
                    <div class="item">
                        <a href="./index.html">
                            <img src="{% static 'img/sponsor/zomato.png' %}" alt="sponsors">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quotes section-->
    {% include 'base/includes/quotes.html' %}
</section>
<section class="instagram">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Instagram<small>We love posting photos of our coustomers having a good time</small></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- instafeed div-->
    <!-- Change your settings in the data- attributes (See documentation for help) -->
    <div id="instafeed" data-username="YOUR_INSTAGRAM_USERNAME_HERE" data-access-token="YOUR_INSTAGRAM_ACCESS_TOKEN_HERE" data-client-id="YOUR_INSTAGRAM_CLIENT_ID_HERE">
</section>
{% endblock %}


{% block js %}
        <!-- STYLE SWITCHER
============================================= -->
        <div class="b-settings-panel">
            <div class="settings-section">
                <span>
        Boxed
        </span>
                <div class="b-switch">
                    <div class="switch-handle"></div>
                </div>
                <span>
        Wide
        </span>
            </div>
            <hr class="dashed" style="margin: 15px 0px;">
            <h5>Main Background</h5>
            <div class="settings-section bg-list">
                <div class="bg-wood_pattern"></div>
                <div class="bg-shattered"></div>
                <div class="bg-vichy"></div>
                <div class="bg-random-grey-variations"></div>
                <div class="bg-irongrip"></div>
                <div class="bg-gplaypattern"></div>
                <div class="bg-diamond_upholstery"></div>
                <div class="bg-denim"></div>
                <div class="bg-crissXcross"></div>
                <div class="bg-climpek"></div>
            </div>
            <hr class="dashed" style="margin: 15px 0px;">
            <h5>Color Scheme</h5>
            <div class="settings-section color-list">
                <div data-src="css/themes/blue.css" style="background: #45b5f5"></div>
                <div data-src="css/themes/brown.css" style="background: #dc8068"></div>
                <div data-src="css/themes/cyan.css" style="background: #00becc"></div>
                <div data-src="css/themes/green.css" style="background: #5bb75b"></div>
                <div data-src="css/themes/orange.css" style="background: #ff7149"></div>
                <div data-src="css/themes/pink.css" style="background: #fba1a1"></div>
                <div data-src="css/themes/red.css" style="background: #dc3522"></div>
                <div data-src="css/themes/yellow.css" style="background: #fdb813"></div>
            </div>

            <a data-src="css/style.css" class="reset"><span class="bg-wood_pattern">Reset</span></a>

            <div class="btn-settings"></div>
        </div>
        <!-- END STYLE SWITCHER
============================================= -->

        <!-- Javascript -->
        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'js/vendor/spectragram.js' %}"></script>
        <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/vendor/velocity.min.js' %}"></script>
        <script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'js/animation.js' %}"></script>
        <script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
        <script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}