{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
{% endblock %}

{% block body %}
{% include 'base/includes/header.html' %}

<!-- Shop Content -->
<section class="shop-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-shop-carousel">
                    <div>
                        <img class="img-responsive" src="{{  meal.image.url }}" alt="">
                    </div>
                    {% for image in images %}
                    <div>
                        <img class="img-responsive" src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <div class="single-shop-carousel-nav">
                    <div>
                        <img class="img-responsive" src="{{  meal.image.url }}" alt="">
                    </div>
                    {% for image in images %}
                    <div>
                        <img class="img-responsive" src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 shop-single-info">
                <div class="shop-single-title">
                    <h3 class="text-left">{{ meal.title }}</h3>
                </div>
                <div class="shop-single-price">
                    <div class="ssp pull-left">{{ meal.price }}$</div>
                    <div class="rc-ratings pull-right">
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <p>{{ meal.description }}</p>
                <div class="quantity">
                    <input type="number" placeholder="1">
                    <a href="./shop_checkout.html" class="btn btn-success left-space-sm pull-right">Buy Now</a>
                    <a href="./shop_cart.html" class="btn btn-default pull-right">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="tab-style3">
            <!-- Nav Tabs -->
            <div class="align-center mb-40 mb-xs-30">
                <ul class="nav nav-tabs tpl-minimal-tabs animate">
                    <li class="active">
                        <a aria-expanded="true" href="#mini-one" data-toggle="tab">Food Description</a>
                    </li>
                    <li class="">
                        <a aria-expanded="false" href="#mini-two" data-toggle="tab">Review (20)</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Tabs -->

            <!-- Tab panes -->
            <div style="height: auto;" class="tab-content tpl-minimal-tabs-cont align-center section-text">
                <div style="" class="tab-pane fade active in" id="mini-one">
                    <p>{{ meal.full_description }}</p>
                </div>
                <div style="" class="tab-pane fade" id="mini-two">
                    <div class="col-md-12">
                        <h4 class="text-left">3 Reviews for Food</h4>
                        <br>
                        <ul class="comment-list">
                            <li>
                                <a class="pull-left" href="./index.html"><img class="comment-avatar" src="img/xtra/1.jpg" alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="./index.html">John Doe</a>
                                    <span>
                            <em>Feb 17, 2015, at 11:34</em>
                            </span>
                                </div>
                                <div class="rating2">
                                    <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                            <li>
                                <a class="pull-left" href="./index.html"><img class="comment-avatar" src="img/xtra/2.jpg" alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="./index.html">Rebecca</a>
                                    <span>
                            <em>March 08, 2015, at 03:34</em>
                            </span>
                                </div>
                                <div class="rating2">
                                    <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                            <li>
                                <a class="pull-left" href="./index.html"><img class="comment-avatar" src="img/xtra/1.jpg" alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="./index.html">Antony Doe</a>
                                    <span>
                            <em>June 11, 2015, at 07:34</em>
                            </span>
                                </div>
                                <div class="rating2">
                                    <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                        </ul>
                        <br>
                        <h4 class="text-left">Add a review</h4>
                        <br>
                            <span>Your Ratings</span>
                            <div class="clearfix"></div>
                                <button class="star" onclick="rating_star(1)"><span>★</span></button>
                                <button class="star" onclick="rating_star(2)"><span>★</span></button>
                                <button class="star" onclick="rating_star(3)"><span>★</span></button>
                                <button class="star" onclick="rating_star(4)"><span>★</span></button>
                                <button class="star" onclick="rating_star(5)"><span>★</span></button>
                        <form method="post" action="{% url 'rating' meal_id=meal.id %}">
                            {% csrf_token %}
                            <div class="clearfix space20"></div>
                            <label>
                                <input type="number" max="5" min="1" id="rating" value="5" name="rating" style="display: none">
                            </label>
                            <textarea name="comment" id="text" class="input-md form-control" placeholder="Add review.." maxlength="400" rows="5"></textarea>
                            <br>
                            {% if error != None %}
                                <div class="alert alert-error"><span>ERROR:</span> {{ login_error }}</div>
                            {% endif %}
                            <button type='submit' id="rating_submit" class="btn btn-default">
                                Submit Review
                            </button>
                        </form>
                    </div>
                    <div class="clearfix space30"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
{% endblock %}


{% block js %}
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
{% endblock %}
