{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'base/includes/header.html' %}
<!-- Shop Content -->
<div class="shop-content">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="side-widget">
                    <h5>Our Food</h5>
                    <ul class="shop-cat">
                        <li><a href="./shop_single_full.html">Cakes <i class="fa fa-caret-right"></i></a></li>
                        <li><a href="./shop_single_full.html">Almonds <i class="fa fa-caret-right"></i></a></li>
                        <li><a href="./shop_single_full.html">Furniture <i class="fa fa-caret-right"></i></a></li>
                        <li><a href="./shop_single_full.html">Amaranth <i class="fa fa-caret-right"></i></a></li>
                        <li><a href="./shop_single_full.html">Broad Beans <i class="fa fa-caret-right"></i></a></li>
                        <li><a href="./shop_single_full.html">Coriander <i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>
                <div class="side-widget">
                    <h5>New Arrivals</h5>
                    <ul class="recent-products">
                        <li>
                            <img src="img/shop/1/1.png" alt="" />
                            <div class="rpp-info">
                                <a href="./shop_single_full.html">Lorem ipsum is simp</a>
                                <div class="rc-ratings">
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span>$100</span>
                            </div>
                        </li>
                        <li>
                            <img src="img/shop/1/2.png" alt="" />
                            <div class="rpp-info">
                                <a href="./shop_single_full.html">Lorem ipsum is simp</a>
                                <div class="rc-ratings">
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span>$100</span>
                            </div>
                        </li>
                        <li>
                            <img src="img/shop/1/3.png" alt="" />
                            <div class="rpp-info">
                                <a href="./shop_single_full.html">Lorem ipsum is simp</a>
                                <div class="rc-ratings">
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span>$100</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="col-md-9">
                <div class="shop-grid">
                    <select>
                        <option>Default Sorting</option>
                        <option>Cakes</option>
                        <option>Breads</option>
                        <option>Fries</option>
                        <option>Pizza</option>
                    </select>
                    <div class="sg-list">
                        <a href="./shop_left_sidebar.html"><i class="fa fa-th-large"></i></a>
                        <a href="./shop_right_sidebar.html"><i class="fa fa-reorder"></i></a>
                    </div>
                    <span>Showing 1-9 of 80 Results</span>
                </div>
                <div class="shop-products">
                    <div class="row">
                        {% for meal in menu %}
                        <div class="col-md-4 col-sm-6">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="{{ meal.image.url }}" alt="" style="width: 260px; height: 280px">
                                </div>
                                <h4><a href="./recipe_detail-image.html">{{ meal.title }}</a></h4>
                                <div class="rc-ratings">
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="product-price">{{ meal.price }}</div>
                                <div class="shop-meta">
                                    <a href="./shop_single_left.html" class="pull-left"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="./shop_right_sidebar.html" class="pull-right"><i class="fa fa-heart-o"></i> Wishlist</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="./index.html" class="btn btn-default load-more">Load more</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Javascript -->
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
{% endblock js %}
