{% extends 'base.html' %}
{% load static %}

{% block title %}Tomato Responsive Restaurant HTML5 Template{% endblock %}
 

{% block body %}
{% include 'base/includes/header.html' %}
<!-- Account Content -->
<section class="shop-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row shop-login">
                    <div class="col-md-6">
                        <div class="box-content">
                            <h3 class="text-center">Existing Customer</h3>
                            <br>
                            <form class="logregform" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Username or E-mail Address</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <a class="pull-right" href="./index.html">(Lost Password?)</a>
                                            <label>Password</label>
                                            <input type="password" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="remember-box checkbox">
                                <label for="rememberme">
                                <input type="checkbox" id="rememberme" name="rememberme">Remember Me
                                </label>
                                </span>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-default pull-right">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box-content">
                            <h3 class="text-center">Register An Account</h3>
                            <br>
                            <form class="logregform" method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>E-mail Address</label>
                                            <input type="text" value="" class="form-control" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix space20"></div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input type="password" value="" class="form-control" name="password1">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Re-enter Password</label>
                                            <input type="password" value="" class="form-control" name="password2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="space20"></div>
                                        <button type="submit" class="btn btn-default pull-right" value="register">Register</button>
                                    </div>
                                </div><br>
                                <div class="alert alert-error"><span>ERROR:</span> {{ register_error }}</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<!-- Javascript -->
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock js %}
