{% extends 'base.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block body %}
{% include 'base/includes/header.html' %}

<!-- Account Content -->
<section class="shop-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Recent Orders</h3>
                <br>
                <table class="cart-table account-table table table-bordered">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                900
                            </td>
                            <td>
                                June 15, 2015
                            </td>
                            <td>
                                Delivered
                            </td>
                            <td>
                                &pound;173 for 4 items
                            </td>
                            <td>
                                <a href="./shop_single_full.html">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                873
                            </td>
                            <td>
                                June 02, 2015
                            </td>
                            <td>
                                Delivered
                            </td>
                            <td>
                                &pound;55 for 2 items
                            </td>
                            <td>
                                <a href="./shop_single_full.html">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                629
                            </td>
                            <td>
                                March 23, 2015
                            </td>
                            <td>
                                Delivered
                            </td>
                            <td>
                                &pound;599 for 14 items
                            </td>
                            <td>
                                <a href="./shop_single_full.html">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
    <!-- Javascript -->
    <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/vendor/spectragram.js' %}"></script>
    <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/vendor/velocity.min.js' %}"></script>
    <script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
    <script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock %}
